
Homework-Chapter-6/gradle/wrapper/gradle-wrapper.properties
Homework-Chapter-6/gradle/wrapper/gradle-wrapper.jar
Homework-Chapter-6/gradle.properties
Homework-Chapter-6/build.gradle
Homework-Chapter-6/app/src/test/java/com/example/homework_chapter_6/ExampleUnitTest.java
Homework-Chapter-6/app/src/main/res/values/styles.xml
Homework-Chapter-6/app/src/main/res/values/strings.xml
Homework-Chapter-6/app/src/main/res/values/colors.xml
Homework-Chapter-6/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
Homework-Chapter-6/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
Homework-Chapter-6/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
Homework-Chapter-6/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
Homework-Chapter-6/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
Homework-Chapter-6/app/src/main/res/mipmap-xhdpi/ic_launcher.png
Homework-Chapter-6/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
Homework-Chapter-6/app/src/main/res/mipmap-mdpi/ic_launcher.png
Homework-Chapter-6/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
Homework-Chapter-6/app/src/main/res/mipmap-hdpi/ic_launcher.png
Homework-Chapter-6/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
Homework-Chapter-6/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
Homework-Chapter-6/app/src/main/res/layout/activity_main.xml
Homework-Chapter-6/app/src/main/res/drawable/ic_launcher_background.xml
Homework-Chapter-6/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
Homework-Chapter-6/app/src/main/java/com/example/homework_chapter_6/MainActivity.java
Homework-Chapter-6/app/src/main/AndroidManifest.xml
Homework-Chapter-6/app/src/androidTest/java/com/example/homework_chapter_6/ExampleInstrumentedTest.java
Homework-Chapter-6/app/proguard-rules.pro
Homework-Chapter-6/app/build.gradle
Homework-Chapter-6/.idea/vcs.xml
Homework-Chapter-6/.idea/runConfigurations.xml
Homework-Chapter-6/.idea/misc.xml
Homework-Chapter-6/.idea/jarRepositories.xml
Homework-Chapter-6/.idea/gradle.xml
Homework-Chapter-6/.idea/codeStyles/Project.xml
Homework-Chapter-6/settings.gradle
Homework-Chapter-6/gradlew.bat
Homework-Chapter-6/gradlew
